.section-title-block {
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem;

    margin-bottom: -15rem; /* overlap the next section */
    position: relative;
    z-index: 1;
  }
  
  .section-title-content {
    text-align: left;
    max-width: 800px;
  }
  
  .section-title-content h1 {
    color: white;
    font-size: 4em;
    margin: 0;
  }
  
  .section-title-content h3 {
    color: gray;
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
  .section-title-content p {
    color: white;
    font-size: 2em;
    margin: 0.5em 0;
  }
  
  .section-title-divider {
    background-color: orange;
    height: 3px;
    width: 20%;
    margin-top: 1em;
  }
  