.section-title-block {
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
  }
  
  .section-title-content {
    text-align: left;
    max-width: 800px;
  }
  
  .section-title-content h1 {
    color: white;
    font-size: 3em;
    margin: 0;
  }
  
  .section-title-content h3 {
    color: gray;
    font-size: 1em;
    margin: 0.5em 0;
  }
  
  .section-title-content p {
    color: white;
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
  .section-title-divider {
    background-color: orange;
    height: 3px;
    width: 20%;
    margin-top: 1em;
  }
  