.splash {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.splash-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 45%;
  padding: 0;
}

.small-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute evenly */
  align-items: flex-end;
  width: 350px;
  margin-right: 3rem;
  height: 65vh; /* Approximate to match big text height */
}

.small-element {
  text-align: right;
  width: 100%;
}

.gray-text {
  font-size: 1rem;
  color: gray;
  margin: 0;
}

.black-text {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin: 0.1rem 0 0 0;
}

.divider {
  height: 2px;
  width: 30%;
  background-color: black;
  margin-top: 0.5rem;
  margin-left: auto; /* Right-align the divider */
  flex-shrink: 0;
}

.big-text {
  font-size: 20rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Arial', sans-serif;
  color: black;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right: -25%;
  padding-right: 50%;
  line-height: 1.1;
}

.big-text span {
  display: block;
}

.big-text::after {
  content: '';
  position: absolute;
  background: transparent;
  width: 33%;
  height: 100%;
  z-index: 2;
  right: 0;
  top: 0;
}
