.splash {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 100vh;  
  background-color: transparent;  
  position: relative;
  overflow: hidden;  
}

.splash-content {
  text-align: left;  
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  position: relative;
  width: 100%;  
  padding-right: 0;  
  overflow: hidden;  
}

.big-text {
  font-size: 20rem;  
  font-weight: bold;
  font-style: italic;  /* Make text italic */
  font-family: 'Arial', sans-serif;  /* Use sans-serif font */
  color: black;
  white-space: nowrap;  
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right: -20%;  
}

.big-text span {
  display: block; 
}

.big-text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  width: 33%;  
  height: 100%;
  z-index: 2; 
}
