<div class="splash">
    <div class="splash-content">
      <!-- Left-side small elements -->
      <div class="small-elements">
        <div class="small-element">
          <p class="gray-text">Welcome to the moment of connecting with the</p>
          <p class="black-text">UNIVERSE</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Make the impossible</p>
          <p class="black-text">POSSIBLE</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">To drink beer on the</p>
          <p class="black-text">MOON</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Our mission is to launch space</p>
          <p class="black-text">COMPUTERS</p>
          <div class="divider"></div>
        </div>
      </div>
  
      <!-- Big Text Block -->
      <div class="big-text">
        <span>SPACE</span>
        <span>CUBICS</span>
      </div>
    </div>
  </div>
  
  