<div class="splash">
    <div class="splash-content">
      <!-- Left-side small elements -->
      <div class="small-elements">
        <div class="small-element">
          <p class="gray-text">Element 1</p>
          <p class="black-text">Description</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Element 2</p>
          <p class="black-text">Description</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Element 3</p>
          <p class="black-text">Description</p>
          <div class="divider"></div>
        </div>
        <div class="small-element">
          <p class="gray-text">Element 4</p>
          <p class="black-text">Description</p>
          <div class="divider"></div>
        </div>
      </div>
  
      <!-- Big Text Block -->
      <div class="big-text">
        <span>SPACE</span>
        <span>CUBICS</span>
      </div>
    </div>
  </div>
  
  