<div class="section">
    <div class="columns">
        <div class="column">
            <div class="two-card left-card" style="background-image: url('{{ left_card_image }}');">
                <div class="btn-container">
                    <button class="circle-btn"></button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="two-card right-card">
                <div class="btn-container">
                    <button class="circle-btn"></button>
                </div>
            </div>
        </div>
    </div>
</div>
